@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xl-10 col-xxl-10 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-6 text-lg-start">
            <p class="col-lg-12 fs-4 text-center">
                The Out Of Office app enables users to manage employees, leave requests, and projects based on their assigned roles.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-6">
            <img src="~/images/OutOfOffice.png" class="img-fluid" alt="home-img" loading="lazy">
        </div>
    </div>
</div>
