@using OutOfOffice.Domain.Models

@model UserRoleDto

@{
    ViewData["Title"] = "Manage roles";
}

<div class="container col-xl-10 col-xxl-10 px-4 py-5">
    <div class="row align-items-center">
        <div class="col-md-10 mx-auto col-lg-6 p-4 rounded-3 form-column">
            <form id="userRoleForm" asp-action="Index" method="post">
                <h2 class="form-header">Manage user roles</h2>
                <hr />
                <div class="form-floating mb-3">
                    <select asp-for="SelectedUserId" asp-items="@(new SelectList(Model.UserDtos,
                        nameof(UserDto.Id),
                        nameof(UserDto.Email)))"
                            class="form-select form-select-md">
                        <option value="">Please select one</option>
                    </select>
                    <label asp-for="SelectedUserId">User</label>
                    <span asp-validation-for="SelectedUserId" class="text-danger" id="selectedUserIdSpan"></span>
                </div>              
                <div class="form-floating mb-3">
                    <select asp-for="SelectedRoleId" asp-items="@(new SelectList(Model.RoleDtos,
                        nameof(RoleDto.Id),
                        nameof(RoleDto.Name)))"
                            class="form-select form-select-md">
                        <option value="">Please select one</option>
                    </select>
                    <label asp-for="SelectedRoleId">Role</label>
                    <span asp-validation-for="SelectedRoleId" class="text-danger" id="selectedRoleIdSpan"></span>
                </div>
                <button id="userRoleSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Update role</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}